
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Baseball</title>
</head>
<body>
<p>The goal of the game is to score more points
  (runs) than the other team. <br>The players
  on the team at bat attempt to score runs by
  touching all four bases, 
  in order, set at the corners of the 
  square-shaped baseball diamond.</p>
<h2>
    Brilliant Baseball Facts
</h2>
<ul>
    <li>The First MLB Team Was the Cincinnati 
      Red Stockings. ...</li>
    <li>Jackie Robinson Was the First Black
      Major League Player. ...</li>
    <li>Two Players Played in the MLB for 
      27 Seasons. ...</li>
    <li>Edwin Jackson Played For the Most 
      MLB Teams. ...</li>
    <li>John William Lindsey Spent the Most
      Time in the Minors.</li>
  
</ul>
<h3>Ooo your favourite team is {{fav}} !!</h3>
</body>
</html>